html
	head
		title Person1
	body
		form(action='/person1', method = "POST")
			div
				label(for = "name") Name: 
				input(name = "name")
			br
			div
				label(for = "description") Description: 
				input(name = "description")
			br
			button(type = "submit") Submit